@page
@using RazorWebTongHop.Models
@using RazorWebTongHop.Helper
@model RazorWebTongHop.Pages.BlogMySelf.IndexModel

@{
    var articles = ViewData["articles"] as List<Article>;
}

<h1>Trang quản lý Blog</h1>
<p>
    <a asp-page="../Index" class="btn btn-info text-light">Về trang Index</a>
</p>

<form method="GET" asp-page="./Index">
    <label>Tìm kiếm</label>
    @* Dùng thêm input asp-for ở đây để sau khi submit thì nó sẽ binding vào property SearchString và OnGet trả về Page này thì
    nhờ có asp-for nên nó sẽ vẫn lưu lại pattern search trước đó *@
    <input asp-for="SearchString">
    <button>Tìm</button>
</form>

<table class="table">
    <thead>
        <th>STT</th>
        <th>Tiêu đề</th>
        <th>Ngày tạo</th>
        <th>
            <a asp-page="./Create" class="btn btn-success" style="min-width: 100px;">Tạo mới</a>
        </th>
    </thead>
    <tbody>
        @{
            int offset = (Model.CurrentPage - 1) * Model.ITEMS_PER_PAGE;
        }
        @foreach (var article in articles)
        {
            <tr>
                <td>@(++offset)</td>
                <td>@article.Title</td>
                @* Khi dùng DisplayFor thì *@
                <td>@Html.DisplayFor(model => article.CreateAt)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@article.Id">Chỉnh sửa</a> |
                    <a asp-page="./Details" asp-route-id="@article.Id">Xem</a> |
                    <a asp-page="./Delete" asp-route-id="@article.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Tạo model truyền qua *@
@{
    var pagingModel = new PagingModel()
            {
                CurrentPage = Model.CurrentPage,
                CountPages = Model.CountPages,
                GenerateUrl = (int? page) =>
                {
                    return Url.Page("/BlogMySelf/Index", new { p = page }) + $"&SearchString={Model.SearchString}";
                }
            };
    System.Console.WriteLine(Url.Page("/BlogMySelf/Index"));
}

<partial name="_Paging" model="pagingModel" />